<% include ../includes/header.ejs %>

<%for(let i=0; i<livros.length && i<3; i++) {%>
    <li class="col-left">
        <a href="linkDetalhe" class="block clearfix">
            <img width="170" height="240" src="/img/cover.jpg" alt="<%=livros[i].titulo%>" title="<%=livros[i].titulo%>" />
            <h2 class="product-title">
                <%=livros[i].titulo%>
            </h2>
            <small class="buy-button">Lançamento!</small>
        </a>
    </li>
<%}%>

<%for(i=0; i<livros.length; i++) {%>
    <li>
        <a href="linkDetalhe" class="block clearfix">
            <h2 class="product-title">
                <%=livros[i].titulo%>
            </h2>
            <img width="143" height="202" src="/img/cover.jpg" alt="<%=livros[i].titulo%>" title="<%=livros[i].titulo%>" />
            <small class="buy-button">Compre</small>
        </a>
    </li>
<%}%>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('novaPromocao', function (data) {
        console.log('Nova promoção');
        console.log(data);
    });
</script>

<% include ../includes/footer.ejs %>